<template name="testForm">
  <div class="container">
    
    {{#autoForm collection="Booking" id="insertBookingForm" type="insert"}}
    <fieldset>
      
      <legend>{{_ "test_form.title"}}</legend>

      {{> afQuickField name='gender' id='gender'}}
      
      {{> afQuickField name='visa_type' id='visa_type'}}
      
      {{> afQuickField name='car' id='car'}}
      
      {{> afQuickField name='car_rent' id='car_rent'}}

    </fieldset>
    
    <button type="submit" class="btn btn-primary">{{_ "test_form.submit"}}</button>
    {{/autoForm}}
  
  </div>
</template>

<template name="carType">
</template>