<template name="testForm">
  <div class="container">
    
    {{#autoForm collection="Booking" id="insertBookingForm" type="insert"}}
    <fieldset>
      
      <legend>{{_ "test_form.title"}}</legend>

      <!-- Gender afQuickField example -->
      {{> afQuickField name='gender' id='gender'}}
      
      <!-- Visa type afQuickField example  -->
      {{> afQuickField name='visa_type' id='visa_type'}}
      
      <!-- Car type example -->
      {{#if isVisaTypeValid}}
        {{> afQuickField name='car_rent' id='car_rent'}}
      {{/if}}
      
    </fieldset>
    
    <button type="submit" class="btn btn-primary">{{_ "test_form.submit"}}</button>
    {{/autoForm}}
  
  </div>
</template>

<template name="carType">
</template>